/logfile
/[Cc]onfig
/[Ee]nvironment
/publish
CacheMonitor/
bin/
obj/
[Dd]ebug/
TestResults/
packages/
build/
Help/
_vti_*/
*.user
*.vssscc
*.vsmdi
*.vspscc
*.suo
*.webtestresult
web.config.backup.*
*.[Pp]ublish.xml
*.lnk
*.SetupWizard.msi
*.xunit
*.sdf
*.log
*.scmp
*.shfbproj_*
*.e2e
*.svclog
*.nupkg
*.sln.GhostDoc.xml
!lib/

node_modules/
typings/
*.map

**/app/**/*.js
!**/app/lib.builder.js 

src/.vs/
